.title {
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 2.5rem;
  font-family: sans-serif; }

.subtitle {
  font-size: 2rem;
  text-align: center;
  color: black; }

.text {
  font-size: 1rem;
  text-align: justify;
  color: black;
  width: 850px;
  margin: auto; }

.text2 {
  font-size: 1rem;
  text-align: center;
  color: black;
  position: relative;
  left: 175px; }

.text3 {
  font-size: 1rem;
  text-align: center;
  color: black;
  position: relative;
  right: 17.5px; }

@media (max-width: 990px) and (min-width: 300px) {
  .text2 {
    position: relative;
    left: 0px; }
  .text {
    width: auto; } }

.nombre {
  color: black;
  font-weight: bold;
  font-size: 20px; }

.logro {
  color: #292626;
  font-weight: bold;
  font-size: 20px; }

.objetivo {
  color: #694a4a;
  font-weight: bold;
  font-size: 20px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body .section1 {
  background-color: #151515; }

body .section2 {
  background-color: #cacaca;
  margin: 2rem;
  padding: 1rem; }

body .section3 {
  background-color: #cacaca;
  margin: 2rem;
  padding: 1rem; }

body .section4 {
  background-color: #cacaca;
  margin: 2rem;
  padding: 1rem; }

body .section5 {
  background-color: #cacaca;
  margin: 2rem;
  padding: 1rem; }

.header {
  background-color: #151515;
  display: flex;
  height: 15vh; }

nav {
  font-size: 1rem; }
  nav ul li a {
    display: inline-block;
    text-decoration: none;
    color: white;
    position: relative;
    background-color: #253a3a;
    border-radius: 0;
    padding: 1em 1.25em;
    font-size: 1em;
    font-weight: 600;
    transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
    z-index: 100;
    margin: 0.3rem; }
    nav ul li a:hover {
      color: white;
      background-color: #29aeb3;
      font-weight: bold; }

ul ul {
  position: absolute;
  width: 100%;
  top: 2rem;
  left: 1rem;
  display: none;
  display: flex; }
  ul ul li {
    display: block; }
  ul ul:hover {
    display: block; }

li {
  list-style: none; }

@media (max-width: 990px) and (min-width: 300px) {
  nav ul li a {
    margin: 0rem; } }

h1 {
  background-color: #29aeb3;
  color: black;
  letter-spacing: 0.2;
  margin-bottom: 1rem;
  align-items: center;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2.5rem; }

.title-container {
  height: 12.5vh; }

.text-container {
  text-align: center;
  top: 50%;
  left: 50%; }

.carousel-inner {
  margin-bottom: 2.5rem;
  margin: auto;
  width: 550px; }

.fa-whatsapp {
  color: white;
  font-size: 3rem;
  background-color: #3ec34f;
  padding: 0.6rem;
  border-radius: 50%;
  position: fixed;
  bottom: 5rem;
  right: 2rem; }
  .fa-whatsapp:hover {
    background-color: #18a32b;
    font-size: 3.5rem;
    transition: 1s; }

.fa-instagram:before {
  content: "\f16d";
  margin-left: 10px; }

.fa-facebook:before {
  content: "\f09a";
  margin-left: 10px; }

.fa-youtube:before {
  content: "\f167";
  margin-left: 10px; }

.logo {
  height: 80px;
  width: 80px;
  border-radius: 50%; }

.image {
  display: block;
  margin: auto;
  border-radius: 1rem; }

.imagePrincipal {
  border-radius: 50%;
  border: 1px inset black;
  left: 150px;
  bottom: 5px;
  position: relative; }

.banner {
  display: flex;
  align-items: center; }

.ubicacion {
  display: flex;
  height: 350px; }

.tabla {
  display: flex;
  justify-content: space-between; }

.formulario {
  background-color: red; }

.navbar > .container, .navbar > .container-fluid, .navbar > .container-lg, .navbar > .container-md, .navbar > .container-sm, .navbar > .container-xl, .navbar > .container-xxl {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start; }

.grill {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr auto;
  grid-auto-flow: row;
  grid-template-areas: "header" "section1" "section2" "section3" "footer"; }

@media (max-width: 990px) and (min-width: 300px) {
  .tabla {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .carousel-inner {
    width: 250px;
    z-index: 0; }
  .imagePrincipal {
    width: 250px;
    left: 0px;
    bottom: 0px;
    position: relative; }
  .banner {
    display: flex;
    flex-direction: column; }
  .header {
    height: 20vh; } }

.formContainer__title {
  color: black;
  text-align: center;
  margin: 1.5rem; }

.form {
  text-align: center; }

.form1 {
  display: flex;
  justify-content: center;
  align-items: baseline; }

.form__label {
  color: black;
  font-weight: 600;
  text-align: left;
  display: inline-block;
  width: 60%; }

.form__input,
.form__textarea {
  width: 60%;
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: white;
  border: none;
  border-bottom: solid 1px #39d3d8;
  font-size: 1rem;
  font-family: sans-serif; }

.form__textarea {
  height: 5rem;
  resize: none; }

.form__input:focus,
.form__textarea {
  outline: none; }

.form__input--submit {
  background-color: #39d3d8;
  margin-top: 1.5rem;
  border-radius: 0.3rem;
  font-weight: 600;
  cursor: pointer; }

.form__input--submit:hover {
  background-color: #29aeb3; }

.footer {
  display: flex;
  background-color: #151515;
  color: white;
  font-size: 1.25rem;
  justify-items: center;
  width: auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2rem; }
  .footer a {
    text-decoration: none;
    color: white;
    margin-left: 1rem; }
