%estilosTitulo{
    text-align: center;
    color: black;
    font: {
      weight: bold;
      size: 2.5rem;
      family: sans-serif
    }
}

%estilosSubTitulo{
    font-size: 2rem;
    text-align: center;
    color: black;
}

%estilosTexto{
    font-size: 1rem;
    text-align: center;
    color: black;
}

%estilosTexto2{
    font-size: 1rem;
    text-align: center;
    color: black;
    position: relative;
    left: 175px;
}

%estilosTexto3{
    font-size: 1rem;
    text-align: center;
    color: black;
    position: relative;
    right: 17.5px;
}

@media (max-width: 990px) and (min-width: 300px) {
    %estilosTexto2{
        position: relative;
        left: 0px;
    }
}