
$textoResaltado: (
nombre: black,
logro: rgb(41, 38, 38),
objetivo: rgb(105, 74, 74),
);

@each $frases, $color in $textoResaltado{
    .#{$frases}{
        color: $color;
        font-weight: bold;
        font-size:20px;
    }
}

