$color__header: #151515;
$color__footer: #151515;
$color__titleynav: #29aeb3;
$color__letra: white;
$color__whatsapp1: #3ec34f;
$color__whatsapp2: #18a32b;
$color__form1: #39d3d8;
$color__form2: #29aeb3;