body {
.section1{
background-color: #151515;
}
.section2{
background-color: #cacaca;
margin: 2rem;
}
.section3{
  background-color: #cacaca;
  margin: 2rem;
}
.section4{
  background-color: #cacaca;
  margin: 2rem;
}
.section5{
  background-color: #cacaca;
  margin: 2rem;
}
  }