h1 {
  @include fontStyle ($color__titleynav, bold, 2.5rem)
}

.title-container {
  height: 12.5vh;
}

.text-container {
  text-align: center;
  top: 50%;
  left: 50%;
}

.title {
  @extend %estilosTitulo;
}

.subtitle {
  @extend %estilosSubTitulo;
}

.text {
  @extend %estilosTexto;
}

.text2 {
  @extend %estilosTexto2;
}

.text3 {
  @extend %estilosTexto3;
}

.carousel-inner {
  margin-bottom: 2.5rem;
  margin: auto;
  width: 550px;
}

.fa-whatsapp {
  color: white;
  font-size: 3rem;
  background-color: $color__whatsapp1;
  padding: 0.6rem;
  border-radius: 50%;
  position: fixed;
  bottom: 5rem;
  right: 2rem;

  &:hover {
    background-color: $color__whatsapp2;
    font-size: 3.5rem;
    transition: 1s;
  }
}

.fa-instagram:before {
  content: "\f16d";
  margin-left: 10px;
}

.fa-facebook:before {
  content: "\f09a";
  margin-left: 10px;
}

.fa-youtube:before {
  content: "\f167";
  margin-left: 10px;
}

.logo {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.image {
  display: block;
  margin: auto;
  border-radius: 1rem;
}

.imagePrincipal {
  border-radius: 50%;
  border: 1px inset black;
  left: 150px;
  bottom: 5px;
  position: relative; 
}

.banner {
  display: flex;
  align-items: center;
}

.ubicacion {
  display: flex;
  height: 350px;
}

.tabla {
  display: flex;
  justify-content: space-between;
}

.formulario{
  background-color: red;
}

iframe{
  width: 450px;
  height: 450px;
}

.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.navbar-nav .nav-link {
  padding: 0.5rem;
}

.grill {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr auto;
  grid-auto-flow: row;
  grid-template-areas:
    "header"
    "section1"
    "section2"
    "section3"
    "footer"
}

@media (max-width: 990px) and (min-width: 300px) {
  .tabla {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .carousel-inner {
    width: 250px;
    z-index: 0;
  }

  .imagePrincipal {
    width: 250px;
   left: 0px;
   bottom: 0px;
   position: relative;
  }

  .banner {
    display: flex;
    flex-direction: column;
  }

  .header {
    height: 20vh;
  }

}

