h1 {
  @include fontStyle ($color__titleynav, bold, 2.5rem)
}

.title-container {
  height: 30vh;
}

.text-container {
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  @extend %estilosTitulo;
}

.subtitle {
  @extend %estilosSubTitulo;
}

.text {
  @extend %estilosTexto;
}

.carousel-inner {
  margin-bottom: 2.5rem;
  margin: auto;
  width: 550px;
}

.fa-whatsapp {
  color: white;
  font-size: 3rem;
  background-color: $color__whatsapp1;
  padding: 0.6rem;
  border-radius: 50%;
  position: fixed;
  bottom: 5rem;
  right: 2rem;

  &:hover {
    background-color: $color__whatsapp2;
    font-size: 3.5;
    transition: 1s;
  }
}

.fa-instagram:before {
  content: "\f16d";
  margin-left: 10px;
}

.fa-facebook:before {
  content: "\f09a";
  margin-left: 10px;
}

.fa-youtube:before {
  content: "\f167";
  margin-left: 10px;
}

.logo {
  height: 150px;
  width: 150px;
}

.image {
  display: block;
  margin: auto;
}

.ubicacion {
  display: flex;
  height: 400px;
}

.tabla {
  display: flex;
  justify-content: space-between;
}

.grill {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr auto;
  grid-auto-flow: row;
  grid-template-areas:
    "header"
    "section1"
    "section2"
    "section3"
    "section4"
    "section5"
    "footer";
}
  .grill2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.1fr 0.1fr auto;
    grid-auto-flow: row;
    grid-template-areas:
      "header"
      "section1"
      "section2"
      "footer"
  }

  .grill3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr auto;
    grid-auto-flow: row;
    grid-template-areas:
      "header"
      "section1"
      "section2"
      "section3"
      "footer"
  }


@media (max-width: 990px) and (min-width: 300px) {
  .grill {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr auto;
    grid-auto-flow: row;
    grid-template-areas:
      "header"
      "section1"
      "section2"
      "section3"
      "section4"
      "section5"
      "footer";
  }

  .grill2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.1fr 0.1fr auto;
    grid-auto-flow: row;
    grid-template-areas:
      "header"
      "section1"
      "section2"
      "footer"
  }

  .grill3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr auto;
    grid-auto-flow: row;
    grid-template-areas:
      "header"
      "section1"
      "section2"
      "section3"
      "footer"
  }

  .tabla {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .carousel-inner {
    width: 250px;
    z-index: 0;
  }

}